# Stage 4 - Airbnb Amsterdam -  Feature Selection

Choosing the most effective variables

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_csv('stage4_amsterdam_feature_selection.csv')
df.head()

,Unnamed: 0,id,host_id,host_location,host_response_time,host_is_superhost,host_neighbourhood,host_total_listings_count,host_has_profile_pic,host_identity_verified,...,_'facebook',_'offline_government_id',_'government_id',_'selfie',_'identity_manual',_'work_email',_'google','phone',_'manual_offline',ListingsGroup
0,0,6345018,31857493,6.0,1.0,0,49.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0.0
1,1,10227700,52558016,6.0,1.0,0,49.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0.0
2,2,13585881,78399846,6.0,1.0,0,49.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0.0
3,3,21892378,159732303,6.0,1.0,0,49.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0.0
4,4,13824148,79317608,7.0,3.0,1,49.0,1,1,1,...,1,0,0,0,0,0,0,0,0,0.0

In [3]:
#Firost we clear the disposable data that commomley appears uppon dataset upload
del  df['Unnamed: 0']

In [4]:
list_str_obj_cols = df.columns[df.dtypes == "object"].tolist()
for str_obj_col in list_str_obj_cols:
    df[str_obj_col] = df[str_obj_col].astype("category")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20030 entries, 0 to 20029
Columns: 159 entries, id to ListingsGroup
dtypes: float64(15), int64(144)
memory usage: 24.3 MB

In [5]:
varSel = pd.DataFrame({'Variable': df.columns[5:41]})
varSel.head()

                    Variable
0         host_neighbourhood
1  host_total_listings_count
2       host_has_profile_pic
3     host_identity_verified
4              neighbourhood

# Univariable Analysis

In [6]:
#from importlib import reload
from pyMechkar.analysis import Table1
#reload(tb1)

In [7]:
nm = df.columns[5:41]
nm = nm.append(pd.Index(['host_is_superhost']))
nm

Index(['host_neighbourhood', 'host_total_listings_count',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'latitude', 'longitude', 'is_location_exact',
       'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms',
       'beds', 'bed_type', 'price', 'weekly_price', 'security_deposit',
       'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'calendar_updated', 'availability_30',
       'availability_60', 'availability_90', 'availability_365',
       'number_of_reviews', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'host_is_superhost'],
      dtype='object')

In [8]:
df2 = df[nm].copy()
#df2.head()

In [9]:
tab1 = Table1(data=df2, y="host_is_superhost")

Begining analysis...
Factorizing... please wait
[************************************
[]
*************************************
*************************************
['Unable to calcualte the Fisher exact test for variables bed_type and host_is_superhost... The p-value may be incorrect']
------ Finished in 13.953817367553711econds -----

In [10]:
tab1

,Variables,Categories,Population,Category_0,Category_1,p_value
0,Individuals,n,20030,16860,3170,NaN
1,host_neighbourhood,Mean (SD),30.40 ( 16.20),30.40 ( 16.20),30.10 ( 16.40),0.384
2,host_neighbourhood,Median (IQR),31.00 ( 15.00- 49.00),31.00 ( 15.00- 49.00),31.00 ( 15.00- 49.00),NaN
4,host_total_listings_count,Mean (SD),6.10 ( 30.40),6.80 ( 32.90),2.30 ( 6.60),0.000
5,host_total_listings_count,Median (IQR),1.00 ( 1.00- 1.00),1.00 ( 1.00- 1.00),1.00 ( 1.00- 2.00),NaN
...,...,...,...,...,...,...
102,review_scores_checkin,Median (IQR),10.00 ( 10.00- 10.00),10.00 ( 10.00- 10.00),10.00 ( 10.00- 10.00),NaN
104,review_scores_communication,Mean (SD),9.80 ( 0.60),9.80 ( 0.60),10.00 ( 0.20),0.000
105,review_scores_communication,Median (IQR),10.00 ( 10.00- 10.00),10.00 ( 10.00- 10.00),10.00 ( 10.00- 10.00),NaN
107,review_scores_location,Mean (SD),9.40 ( 0.70),9.40 ( 0.80),9.50 ( 0.60),0.000
108,review_scores_location,Median (IQR),10.00 ( 9.00- 10.00),10.00 ( 9.00- 10.00),10.00 ( 9.00- 10.00),NaN

In [11]:
tab1[tab1['p_value']<0.05]

,Variables,Categories,Population,Category_0,Category_1,p_value
4,host_total_listings_count,Mean (SD),6.10 ( 30.40),6.80 ( 32.90),2.30 ( 6.60),0.000
8,host_has_profile_pic,0,25.00 ( 0.10%),25.00 ( 0.10%),0.00 ( 0.00%),0.025
10,host_identity_verified,1,"8,271.00 ( 41.30%)","6,697.00 ( 39.70%)","1,574.00 ( 49.70%)",0.000
14,neighbourhood_cleansed,Mean (SD),10.30 ( 6.20),10.40 ( 6.20),9.90 ( 6.10),0.000
17,latitude,Mean (SD),52.40 ( 0.00),52.40 ( 0.00),52.40 ( 0.00),0.000
25,property_type,Mean (SD),3.30 ( 5.00),3.10 ( 4.80),4.00 ( 5.50),0.000
29,room_type,1.0,"4,076.00 ( 20.30%)","2,977.00 ( 17.70%)","1,099.00 ( 34.70%)",0.000
32,accommodates,4,"6,094.00 ( 30.40%)","5,208.00 ( 30.90%)",886.00 ( 27.90%),0.000
39,bedrooms,Mean (SD),1.40 ( 0.90),1.50 ( 0.90),1.30 ( 0.80),0.000
42,beds,Mean (SD),1.80 ( 1.40),1.90 ( 1.40),1.80 ( 1.30),0.000
46,bed_type,3.0,136.00 ( 0.70%),98.00 ( 0.60%),38.00 ( 1.20%),0.000
59,cleaning_fee,Mean (SD),30.00 ( 18.10),30.30 ( 18.10),28.60 ( 17.70),0.000
62,guests_included,Mean (SD),1.50 ( 0.90),1.50 ( 0.90),1.50 ( 1.00),0.000
65,extra_people,Mean (SD),11.30 ( 22.20),10.90 ( 22.00),13.60 ( 22.80),0.000
68,minimum_nights,Mean (SD),3.30 ( 12.50),3.50 ( 13.60),2.70 ( 3.00),0.001
71,maximum_nights,Mean (SD),630.30 ( 537.00),643.00 ( 535.50),562.60 ( 540.10),0.000
74,calendar_updated,Mean (SD),4.10 ( 3.10),4.00 ( 3.00),4.40 ( 3.40),0.000
77,availability_30,Mean (SD),4.90 ( 7.90),4.70 ( 8.00),6.20 ( 7.80),0.000
80,availability_60,Mean (SD),3.00 ( 6.20),2.70 ( 5.90),4.60 ( 7.40),0.000
83,availability_90,Mean (SD),4.30 ( 9.00),3.90 ( 8.60),6.20 ( 10.70),0.000
86,availability_365,Mean (SD),59.90 ( 104.00),54.20 ( 100.90),90.00 ( 114.80),0.000
89,number_of_reviews,Mean (SD),21.60 ( 43.20),15.40 ( 31.40),54.10 ( 72.80),0.000
92,review_scores_rating,Mean (SD),94.80 ( 6.80),94.40 ( 7.20),97.30 ( 2.60),0.000
95,review_scores_accuracy,Mean (SD),9.70 ( 0.70),9.60 ( 0.70),9.90 ( 0.30),0.000
98,review_scores_cleanliness,Mean (SD),9.50 ( 0.90),9.40 ( 0.90),9.80 ( 0.50),0.000
101,review_scores_checkin,Mean (SD),9.70 ( 0.70),9.70 ( 0.70),9.90 ( 0.30),0.000
104,review_scores_communication,Mean (SD),9.80 ( 0.60),9.80 ( 0.60),10.00 ( 0.20),0.000
107,review_scores_location,Mean (SD),9.40 ( 0.70),9.40 ( 0.80),9.50 ( 0.60),0.000

In [12]:
vn1 = tab1.loc[tab1['p_value']<0.05,'Variables'].unique()
print(len(vn1))
vn1

28

array(['host_total_listings_count', 'host_has_profile_pic',
       'host_identity_verified', 'neighbourhood_cleansed', 'latitude',
       'property_type', 'room_type', 'accommodates', 'bedrooms', 'beds',
       'bed_type', 'cleaning_fee', 'guests_included', 'extra_people',
       'minimum_nights', 'maximum_nights', 'calendar_updated',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'number_of_reviews', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location'], dtype=object)

We will add these variables to our variable selection table

In [13]:
varSel['Univarable'] = 0
varSel.loc[varSel['Variable'].isin(vn1), 'Univarable'] = 1
varSel

                       Variable  Univarable
0            host_neighbourhood           0
1     host_total_listings_count           1
2          host_has_profile_pic           1
3        host_identity_verified           1
4                 neighbourhood           0
5        neighbourhood_cleansed           1
6                      latitude           1
7                     longitude           0
8             is_location_exact           0
9                 property_type           1
10                    room_type           1
11                 accommodates           1
12                    bathrooms           0
13                     bedrooms           1
14                         beds           1
15                     bed_type           1
16                        price           0
17                 weekly_price           0
18             security_deposit           0
19                 cleaning_fee           1
20              guests_included           1
21                 extra_people           1
22               minimum_nights           1
23               maximum_nights           1
24             calendar_updated           1
25              availability_30           1
26              availability_60           1
27              availability_90           1
28             availability_365           1
29            number_of_reviews           1
30         review_scores_rating           1
31       review_scores_accuracy           1
32    review_scores_cleanliness           1
33        review_scores_checkin           1
34  review_scores_communication           1
35       review_scores_location           1

## Multivariable Analysis

In [14]:
### drop na
df2 = df2.dropna()

In [15]:
df2.shape

(20030, 37)

In [16]:
## remove unnecessary vars
X = df2.iloc[:,:-1]
X

,host_neighbourhood,host_total_listings_count,host_has_profile_pic,host_identity_verified,neighbourhood,neighbourhood_cleansed,latitude,longitude,is_location_exact,property_type,...,availability_60,availability_90,availability_365,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location
0,49.0,1,0,0,32.0,4.0,52.368725,4.927357,1,1.0,...,0,0,0,20,92,10,9,10,9,9
1,49.0,1,0,0,6.0,2.0,52.378448,4.857322,1,1.0,...,0,0,0,1,100,10,10,10,9,9
2,49.0,1,0,0,35.0,15.0,52.351816,4.814667,1,13.0,...,0,0,296,87,98,10,10,10,10,9
3,49.0,1,0,0,55.0,12.0,52.375795,4.987344,1,13.0,...,0,0,0,0,100,10,10,10,10,10
4,49.0,1,1,1,13.0,20.0,52.373788,4.872864,1,3.0,...,14,14,14,23,100,10,10,10,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20025,13.0,1,1,0,15.0,21.0,52.350233,4.846532,1,1.0,...,22,0,53,0,95,10,10,9,10,10
20026,10.0,1,1,0,13.0,20.0,52.380046,4.878465,1,1.0,...,3,3,3,1,100,10,10,10,10,10
20027,49.0,1,1,0,25.0,9.0,52.305967,4.977865,1,7.0,...,0,0,67,3,100,10,10,10,10,10
20028,31.0,1,1,0,37.0,20.0,52.385345,4.880611,1,1.0,...,10,10,10,0,60,6,6,10,8,10
20029,13.0,1,1,0,15.0,21.0,52.349014,4.848881,1,1.0,...,0,0,308,0,100,10,10,10,10,10

In [17]:
y = df2.iloc[:,-1:]
print([X.shape,y.shape])

[(20030, 36), (20030, 1)]

### Variable Selection using LASSO (L1 penalization)

In [18]:
from sklearn.linear_model import Lasso
from sklearn.feature_selection import SelectFromModel

In [19]:
lassomod = Lasso(alpha=0.01).fit(X, y)

In [20]:
model = SelectFromModel(lassomod, prefit=True)
model.get_support()

array([ True,  True, False, False,  True,  True, False, False, False,
        True, False, False, False, False,  True, False,  True, False,
       False,  True, False,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True, False,  True, False, False, False])

In [21]:
varSel['Lasso'] = model.get_support().astype('int64')
varSel

                       Variable  Univarable  Lasso
0            host_neighbourhood           0      1
1     host_total_listings_count           1      1
2          host_has_profile_pic           1      0
3        host_identity_verified           1      0
4                 neighbourhood           0      1
5        neighbourhood_cleansed           1      1
6                      latitude           1      0
7                     longitude           0      0
8             is_location_exact           0      0
9                 property_type           1      1
10                    room_type           1      0
11                 accommodates           1      0
12                    bathrooms           0      0
13                     bedrooms           1      0
14                         beds           1      1
15                     bed_type           1      0
16                        price           0      1
17                 weekly_price           0      0
18             security_deposit           0      0
19                 cleaning_fee           1      1
20              guests_included           1      0
21                 extra_people           1      1
22               minimum_nights           1      1
23               maximum_nights           1      1
24             calendar_updated           1      1
25              availability_30           1      0
26              availability_60           1      1
27              availability_90           1      1
28             availability_365           1      1
29            number_of_reviews           1      1
30         review_scores_rating           1      1
31       review_scores_accuracy           1      0
32    review_scores_cleanliness           1      1
33        review_scores_checkin           1      0
34  review_scores_communication           1      0
35       review_scores_location           1      0

## Variable Selection using Random Forest

In [22]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel

rfmod = RandomForestClassifier().fit(X, y)
#rfmod.feature_importances_

<ipython-input-22-41d4b3eec1f3>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfmod = RandomForestClassifier().fit(X, y)

In [23]:
model = SelectFromModel(rfmod, prefit=True)
model.get_support()

array([False, False, False, False,  True, False,  True,  True, False,
       False, False, False, False, False, False, False,  True,  True,
       False,  True, False, False, False,  True, False, False, False,
       False,  True,  True,  True, False, False, False, False, False])

In [24]:
varSel['RandomForest'] = model.get_support().astype('int64')
varSel

                       Variable  Univarable  Lasso  RandomForest
0            host_neighbourhood           0      1             0
1     host_total_listings_count           1      1             0
2          host_has_profile_pic           1      0             0
3        host_identity_verified           1      0             0
4                 neighbourhood           0      1             1
5        neighbourhood_cleansed           1      1             0
6                      latitude           1      0             1
7                     longitude           0      0             1
8             is_location_exact           0      0             0
9                 property_type           1      1             0
10                    room_type           1      0             0
11                 accommodates           1      0             0
12                    bathrooms           0      0             0
13                     bedrooms           1      0             0
14                         beds           1      1             0
15                     bed_type           1      0             0
16                        price           0      1             1
17                 weekly_price           0      0             1
18             security_deposit           0      0             0
19                 cleaning_fee           1      1             1
20              guests_included           1      0             0
21                 extra_people           1      1             0
22               minimum_nights           1      1             0
23               maximum_nights           1      1             1
24             calendar_updated           1      1             0
25              availability_30           1      0             0
26              availability_60           1      1             0
27              availability_90           1      1             0
28             availability_365           1      1             1
29            number_of_reviews           1      1             1
30         review_scores_rating           1      1             1
31       review_scores_accuracy           1      0             0
32    review_scores_cleanliness           1      1             0
33        review_scores_checkin           1      0             0
34  review_scores_communication           1      0             0
35       review_scores_location           1      0             0

### Variable Selection using Gradient Boosting classification

In [25]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.feature_selection import SelectFromModel

gbmod = GradientBoostingClassifier().fit(X, y)

C:\Users\ophir\anaconda3\lib\site-packages\sklearn\ensemble\_gb.py:570: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [26]:
model = SelectFromModel(gbmod, prefit=True)
model.get_support()

array([False,  True, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True,  True, False, False, False, False, False])

In [27]:
varSel['GradientBoost'] = model.get_support().astype('int64')
varSel

,Variable,Univarable,Lasso,RandomForest,GradientBoost
0,host_neighbourhood,0,1,0,0
1,host_total_listings_count,1,1,0,1
2,host_has_profile_pic,1,0,0,0
3,host_identity_verified,1,0,0,0
4,neighbourhood,0,1,1,0
5,neighbourhood_cleansed,1,1,0,0
6,latitude,1,0,1,0
7,longitude,0,0,1,0
8,is_location_exact,0,0,0,0
9,property_type,1,1,0,0
10,room_type,1,0,0,0
11,accommodates,1,0,0,0
12,bathrooms,0,0,0,0
13,bedrooms,1,0,0,0
14,beds,1,1,0,0
15,bed_type,1,0,0,0
16,price,0,1,1,0
17,weekly_price,0,0,1,0
18,security_deposit,0,0,0,0
19,cleaning_fee,1,1,1,0
20,guests_included,1,0,0,0
21,extra_people,1,1,0,0
22,minimum_nights,1,1,0,0
23,maximum_nights,1,1,1,0
24,calendar_updated,1,1,0,0
25,availability_30,1,0,0,0
26,availability_60,1,1,0,0
27,availability_90,1,1,0,0
28,availability_365,1,1,1,0
29,number_of_reviews,1,1,1,1
30,review_scores_rating,1,1,1,1
31,review_scores_accuracy,1,0,0,0
32,review_scores_cleanliness,1,1,0,0
33,review_scores_checkin,1,0,0,0
34,review_scores_communication,1,0,0,0
35,review_scores_location,1,0,0,0

### Variable Selection using SVM classification

In [28]:
from sklearn.svm import LinearSVC
from sklearn.feature_selection import SelectFromModel

svmmod = LinearSVC(C=0.01, penalty="l1",dual=False).fit(X, y)

C:\Users\ophir\anaconda3\lib\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\ophir\anaconda3\lib\site-packages\sklearn\svm\_base.py:1225: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

In [29]:
model = SelectFromModel(svmmod, prefit=True)
model.get_support()

array([ True,  True, False,  True,  True,  True,  True,  True, False,
        True,  True, False,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True])

In [30]:
varSel['SVM'] = model.get_support().astype('int64')
varSel

,Variable,Univarable,Lasso,RandomForest,GradientBoost,SVM
0,host_neighbourhood,0,1,0,0,1
1,host_total_listings_count,1,1,0,1,1
2,host_has_profile_pic,1,0,0,0,0
3,host_identity_verified,1,0,0,0,1
4,neighbourhood,0,1,1,0,1
5,neighbourhood_cleansed,1,1,0,0,1
6,latitude,1,0,1,0,1
7,longitude,0,0,1,0,1
8,is_location_exact,0,0,0,0,0
9,property_type,1,1,0,0,1
10,room_type,1,0,0,0,1
11,accommodates,1,0,0,0,0
12,bathrooms,0,0,0,0,1
13,bedrooms,1,0,0,0,1
14,beds,1,1,0,0,1
15,bed_type,1,0,0,0,1
16,price,0,1,1,0,0
17,weekly_price,0,0,1,0,1
18,security_deposit,0,0,0,0,1
19,cleaning_fee,1,1,1,0,1
20,guests_included,1,0,0,0,1
21,extra_people,1,1,0,0,1
22,minimum_nights,1,1,0,0,1
23,maximum_nights,1,1,1,0,1
24,calendar_updated,1,1,0,0,1
25,availability_30,1,0,0,0,1
26,availability_60,1,1,0,0,1
27,availability_90,1,1,0,0,1
28,availability_365,1,1,1,0,1
29,number_of_reviews,1,1,1,1,1
30,review_scores_rating,1,1,1,1,1
31,review_scores_accuracy,1,0,0,0,1
32,review_scores_cleanliness,1,1,0,0,1
33,review_scores_checkin,1,0,0,0,1
34,review_scores_communication,1,0,0,0,1
35,review_scores_location,1,0,0,0,1

### Summarization and Selection of Variables

In [31]:
varSel['Sum'] =  np.sum(varSel,axis=1)
varSel

,Variable,Univarable,Lasso,RandomForest,GradientBoost,SVM,Sum
0,host_neighbourhood,0,1,0,0,1,2
1,host_total_listings_count,1,1,0,1,1,4
2,host_has_profile_pic,1,0,0,0,0,1
3,host_identity_verified,1,0,0,0,1,2
4,neighbourhood,0,1,1,0,1,3
5,neighbourhood_cleansed,1,1,0,0,1,3
6,latitude,1,0,1,0,1,3
7,longitude,0,0,1,0,1,2
8,is_location_exact,0,0,0,0,0,0
9,property_type,1,1,0,0,1,3
10,room_type,1,0,0,0,1,2
11,accommodates,1,0,0,0,0,1
12,bathrooms,0,0,0,0,1,1
13,bedrooms,1,0,0,0,1,2
14,beds,1,1,0,0,1,3
15,bed_type,1,0,0,0,1,2
16,price,0,1,1,0,0,2
17,weekly_price,0,0,1,0,1,2
18,security_deposit,0,0,0,0,1,1
19,cleaning_fee,1,1,1,0,1,4
20,guests_included,1,0,0,0,1,2
21,extra_people,1,1,0,0,1,3
22,minimum_nights,1,1,0,0,1,3
23,maximum_nights,1,1,1,0,1,4
24,calendar_updated,1,1,0,0,1,3
25,availability_30,1,0,0,0,1,2
26,availability_60,1,1,0,0,1,3
27,availability_90,1,1,0,0,1,3
28,availability_365,1,1,1,0,1,4
29,number_of_reviews,1,1,1,1,1,5
30,review_scores_rating,1,1,1,1,1,5
31,review_scores_accuracy,1,0,0,0,1,2
32,review_scores_cleanliness,1,1,0,0,1,3
33,review_scores_checkin,1,0,0,0,1,2
34,review_scores_communication,1,0,0,0,1,2
35,review_scores_location,1,0,0,0,1,2

In [32]:
varSel.groupby('Sum')['Variable'].count()

Sum
0     1
1     4
2    14
3    11
4     4
5     2
Name: Variable, dtype: int64

We can now decide a threshold for selecting our variables!

In [33]:
varSel[varSel['Sum']==5]

,Variable,Univarable,Lasso,RandomForest,GradientBoost,SVM,Sum
29,number_of_reviews,1,1,1,1,1,5
30,review_scores_rating,1,1,1,1,1,5

In [34]:
varSel[varSel['Sum']>=4]

,Variable,Univarable,Lasso,RandomForest,GradientBoost,SVM,Sum
1,host_total_listings_count,1,1,0,1,1,4
19,cleaning_fee,1,1,1,0,1,4
23,maximum_nights,1,1,1,0,1,4
28,availability_365,1,1,1,0,1,4
29,number_of_reviews,1,1,1,1,1,5
30,review_scores_rating,1,1,1,1,1,5

In [35]:
varSel[varSel['Sum']>=3]

,Variable,Univarable,Lasso,RandomForest,GradientBoost,SVM,Sum
1,host_total_listings_count,1,1,0,1,1,4
4,neighbourhood,0,1,1,0,1,3
5,neighbourhood_cleansed,1,1,0,0,1,3
6,latitude,1,0,1,0,1,3
9,property_type,1,1,0,0,1,3
14,beds,1,1,0,0,1,3
19,cleaning_fee,1,1,1,0,1,4
21,extra_people,1,1,0,0,1,3
22,minimum_nights,1,1,0,0,1,3
23,maximum_nights,1,1,1,0,1,4
24,calendar_updated,1,1,0,0,1,3
26,availability_60,1,1,0,0,1,3
27,availability_90,1,1,0,0,1,3
28,availability_365,1,1,1,0,1,4
29,number_of_reviews,1,1,1,1,1,5
30,review_scores_rating,1,1,1,1,1,5
32,review_scores_cleanliness,1,1,0,0,1,3

In [36]:
varSel[varSel['Sum']>=2]

,Variable,Univarable,Lasso,RandomForest,GradientBoost,SVM,Sum
0,host_neighbourhood,0,1,0,0,1,2
1,host_total_listings_count,1,1,0,1,1,4
3,host_identity_verified,1,0,0,0,1,2
4,neighbourhood,0,1,1,0,1,3
5,neighbourhood_cleansed,1,1,0,0,1,3
6,latitude,1,0,1,0,1,3
7,longitude,0,0,1,0,1,2
9,property_type,1,1,0,0,1,3
10,room_type,1,0,0,0,1,2
13,bedrooms,1,0,0,0,1,2
14,beds,1,1,0,0,1,3
15,bed_type,1,0,0,0,1,2
16,price,0,1,1,0,0,2
17,weekly_price,0,0,1,0,1,2
19,cleaning_fee,1,1,1,0,1,4
20,guests_included,1,0,0,0,1,2
21,extra_people,1,1,0,0,1,3
22,minimum_nights,1,1,0,0,1,3
23,maximum_nights,1,1,1,0,1,4
24,calendar_updated,1,1,0,0,1,3
25,availability_30,1,0,0,0,1,2
26,availability_60,1,1,0,0,1,3
27,availability_90,1,1,0,0,1,3
28,availability_365,1,1,1,0,1,4
29,number_of_reviews,1,1,1,1,1,5
30,review_scores_rating,1,1,1,1,1,5
31,review_scores_accuracy,1,0,0,0,1,2
32,review_scores_cleanliness,1,1,0,0,1,3
33,review_scores_checkin,1,0,0,0,1,2
34,review_scores_communication,1,0,0,0,1,2
35,review_scores_location,1,0,0,0,1,2

In [37]:
type(varSel)

pandas.core.frame.DataFrame

In [38]:
final_var = varSel[varSel['Sum']>=2]['Variable'].tolist()
df_model = df[final_var].copy()
## add our Y 
df_model['host_is_superhost'] = df['host_is_superhost'].copy()

In [39]:
df_model.shape

(20030, 32)

In [40]:
df_model.to_csv('df_model.csv')

### Setting proportion for Train, Test, Dev

In [41]:
from pyMechkar.analysis import train_test

In [42]:
train, temp = train_test(df_model, prop=0.80, seed=20)

Begining analysis...
Factorizing... please wait
[********************************
[]
*********************************
*********************************
['Unable to calcualte the Fisher exact test for variables bed_type and split... The p-value may be incorrect']
------ Finished in 12.19104790687561econds -----

You got a perfectly balanced training and test datasets

In [43]:
#80%
train.shape

(16024, 33)

In [49]:
df_object_train =  train.select_dtypes(include = ['object']).columns

### Encoding Categorial Data

In [51]:
from sklearn.preprocessing import OrdinalEncoder

for col in df_object_train:
  ord_enc = OrdinalEncoder()
  train[[col]] = ord_enc.fit_transform(train[[col]])

In [52]:
train.to_csv('Amsterdam_train.csv')

In [45]:
dev, test = train_test(temp, prop=0.5, seed=10)

Begining analysis...
Factorizing... please wait
[********************************
[]
*********************************
*********************************
[]
------ Finished in 11.490132093429565econds -----

You got a perfectly balanced training and test datasets

In [46]:
test.to_csv('Amsterdam_test.csv')

In [47]:
dev.to_csv('Amsterdam_dev.csv')

# NEXT to stage 5 - Imbalanced data...